# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/

# ML Models
backend/saved_models/*.pkl
backend/data/

# Node
node_modules/
frontend/dist/
frontend/.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
